* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

select {
    padding: 10px;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 50px auto 0;
}

.btn {
    font-size: 18px;
    padding: 20px 50px;
    background-color: blue;
    border: none;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 9px -3px #000;
}

.btn.start {
    background-color: green;
}

.btn-group {
    margin-bottom: 20px;
}

.btn-group .btn:not(:last-child) {
    margin-right: 10px;
}

.d-table-row {
    display: table-row;
}

.d-table-cell {
    display: table-cell;
}

.board {
    margin-right: 20px;
}

.board_header {
    margin-bottom: 50px;
}

.game_mode {
    /*margin-right: 50px;*/
}

.row:first-child .cell {
    border-top: 1px solid;
}

.cell {
    display: table-cell;
    border-left: 1px solid;

    border-bottom: 1px solid;
    padding: 5px;
    width: 50px;
    height: 50px;
    transition: background-color 0.2s;
    /*opacity: 0.5;*/
}

.cell:last-child {
    border-right: 1px solid;
}


.cell:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.5);

}

.cell.blue {
    background-color: blue;
}


.hovered {
    background-color: #eee;
    padding: 15px;
    border-radius: 5px;
    align-self: flex-start;
}

p {
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #bbb;
    border-radius: 5px;
}

ul li:not(:last-child) {
    border-bottom: 1px solid;
}

ul li {

    padding: 15px 10px;
}

.d-flex {
    display: flex;
}
