<template>

  <div class="container d-flex">

    <div class="board">
      <div class="board_header ">

        <div class="btn-group">
          <button class="btn" @click="startStopGame" :class="{start: isStarted}">{{
              !isStarted ? 'Start' : 'Stop'
            }}
          </button>
          <button class="btn" @click="resetGrid">Reset</button>
        </div>

        <div class="game_mode">
          <select :value="activeMode?.id" @change="modeChange">
            <template v-for="mode in modes" :key="mode.id">
              <option :value="mode.id" :selected="mode.id === activeModeId">
                {{ mode.name }}
              </option>
            </template>
          </select>
        </div>


      </div>

      <div class="grid">
        <div v-for="(col, index) in grid" :key="`col_${index}`" class="row">
          <div v-for="cell in col" :key="`cell_${cell.col}_${cell.row}`" class="cell" @mouseenter="enterCell(cell)"
               :class="{blue: cell.hovered}">
            <!--            {{ cell.col }} / {{ cell.row }}-->
          </div>
        </div>
      </div>
    </div>


    <div class="hovered">
      <p>Hovered</p>
      <ul>
        <li v-for="(cell, index) in hovered" :key="index">
          col {{ cell.col }} / row {{ cell.row }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  async created() {
    this.modes = await fetch('https://60816d9073292b0017cdd833.mockapi.io/modes')
        .then(req => req.json())
    this.activeMode = this.modes[0]
    this.hoveredLimit = this.activeMode.field
    this.makeGrid()
  },
  data: () => ({
    modes: [],
    activeMode: null,
    isStarted: false,
    hovered: [],
    grid: [],
    hoveredLimit: 5
  }),
  computed: {
    activeModeId() {
      return this.activeMode?.id
    },

  },
  methods: {
    makeGrid() {
      this.grid = (new Array(this.activeMode?.field ?? 0))
          .fill(0)
          .map((col, yIndex) => (new Array(this.activeMode?.field ?? 0))
              .fill(0)
              .map((row, xIndex) => ({row: yIndex, col: xIndex})))

      this.clearHovered()
    },
    modeChange(e) {
      const modeId = e.target.value
      this.activeMode = this.modes.find(m => m.id === modeId)
      this.hoveredLimit = this.activeMode.field

      this.makeGrid()
    },
    startStopGame() {
      this.isStarted = !this.isStarted
    },
    enterCell(cell) {
      if (!this.isStarted) return

      cell.hovered = !cell.hovered

      if (this.hovered.length >= this.hoveredLimit)
        this.hovered.shift()

      this.hovered.push(cell)

    },
    resetGrid() {
      this.makeGrid()
      this.isStarted = false
    },
    clearHovered() {
      this.hovered = []
    }
  }
}
</script>

